.footer-nav {
  position:fixed;

  text-align: right;
  bottom:0;
  background-color: #000000;
  width: 100%;

  height: @navHeight;
  font-size: 1.5rem;

  padding-right: 1rem;
  padding-top: .5rem;
  padding-left: 1rem;

  h1 {
    display: inline-block;
  }


  a {
    color: gold;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
    text-decoration: none;
    text-transform: capitalize;
  }

  a:hover {
    color: #DDD;
    text-decoration: underline;
  }

  .contact {
    color: gold;
  }

}