.footer-nav {
  position:fixed;
  z-index: 9;

  text-align: right;
  bottom:0;
  background-color: @menuBackgroundColor;
  width: 100%;

  height: @navHeight;
  font-size: 1.5rem;

  padding-right: 1rem;
  padding-top: .5rem;
  padding-left: 1rem;

  h1 {
    display: inline-block;
  }


  a {
    text-transform: capitalize;
  }
}