<div class="project-tile">

    <a href="{{imageUrl}}" target="_blank" class="screenshot-link">
        <img class="screenshot hover-mask" ng-src="{{imageUrl}}">
    </a>

    <div class="text-panel">
        <h2>{{ projectName }}</h2>
        <ul>
            <li title="The live version may have changed significantly since I worked on it." ng-show="liveUrl"><a class="body-link project-link" href="{{ liveUrl }}">Live Version</a></li>
            <li ng-show="localUrl"><a class="body-link project-link" href="{{ localUrl }}">Local Version</a></li>
            <li><a class="body-link project-link link-screenshot" href="{{ imageUrl }}" target="_blank">Screenshot</a></li>
        </ul>

        <ng-include src="descriptionTemplate"></ng-include>
    </div>
</div>
