.hover-mask {
  border: solid medium transparent;

}

.hover-mask:hover {
  -webkit-filter: saturate(200%);
  -moz-filter: saturate(200%);
  -ms-filter: saturate(200%);
  filter: saturate(200%);

  border: solid medium @navImportantLinkColor;
}

@media @desktopQuery, @tabletQuery {
  .ng-enter {
    position: absolute;
    left: -100%;
    width: 100%;
    //  top: @navHeight;

    background: transparent;
    -webkit-animation: ngEnter 2s forwards;
    animation: ngEnter 2s forwards;
  }

  .ng-leave {
    position: absolute;
    width: 100%;
    left: 0;
    //  top: @navHeight;

    background: transparent;
    -webkit-animation: ngLeave 2s forwards;
    animation: ngLeave 2s forwards;

  }
}


// Note: Keep keyframes outside of the media query, it will break ie (of course) if they are inside.
@-webkit-keyframes ngEnter {
  100% {
    left: 0;
  }
}


@keyframes ngEnter {
  100% {
    left: 0;
  }
}

@-webkit-keyframes ngLeave {
100% {
  position: relative;
  left: 100%;
}
}

@keyframes ngLeave {
100% {
  position: relative;
  left: 100%;
}
}