@import "reset";
@import "variables";


html {
  color: white;
  .bodyText();

  height: 100%;

  background-color: #00A3EF;

  background-image: -ms-linear-gradient(top left, #000000 0%, #00A3EF 100%);
  background-image: -moz-linear-gradient(top left, #000000 0%, #00A3EF 100%);
  background-image: -o-linear-gradient(top left, #000000 0%, #00A3EF 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #000000), color-stop(1, #00A3EF));
  background-image: -webkit-linear-gradient(top left, #000000 0%, #00A3EF 100%);
  background-image: linear-gradient(to bottom right, #000000 0%, #00A3EF 100%);
}

body {
  padding-top: @navHeight;
}

h1, h2, h3, h4, h5, h6 {
  .headlineText();
  font-weight: bold;
}

@import '../components/directives/navBar/navBar';
@import '../components/directives/footerNav/footerNav';
@import '../components/directives/projectTile/projectTile';

@import '../views/home/home';
@import '../views/portfolio/portfolio';